<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>controller.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlDispatch</servlet-name>
        <servlet-class>controller.controlDispatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>controller.Product.ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProduct</servlet-name>
        <servlet-class>controller.Product.GetProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductByType</servlet-name>
        <servlet-class>controller.Product.GetProductByType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProduct</servlet-name>
        <servlet-class>controller.Product.SortProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.Product.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.Product.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Users.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Users.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListUsers</servlet-name>
        <servlet-class>controller.Users.ShowListUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Users.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortUsers</servlet-name>
        <servlet-class>controller.Users.SortUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.Users.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetRole</servlet-name>
        <servlet-class>controller.Users.SetRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserByRole</servlet-name>
        <servlet-class>controller.Users.GetUserByRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>controller.Users.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>controller.Users.ViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManageForSaler</servlet-name>
        <servlet-class>controller.Users.UserManageForSaler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomer</servlet-name>
        <servlet-class>controller.Users.CreateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>controller.Users.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateListUser</servlet-name>
        <servlet-class>controller.Users.UpdateListUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.Users.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>controller.Client.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCode</servlet-name>
        <servlet-class>controller.Client.CheckCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServlet</servlet-name>
        <servlet-class>controller.Client.ForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterServlet</servlet-name>
        <servlet-class>controller.Client.FilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.Client.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.Client.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.Client.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.Client.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.Client.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.Users.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsList</servlet-name>
        <servlet-class>controller.NewsClient.newsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsDetails</servlet-name>
        <servlet-class>controller.NewsClient.newsDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsComment</servlet-name>
        <servlet-class>controller.NewsClient.NewsComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNews</servlet-name>
        <servlet-class>controller.NewsClient.SearchNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortCategory</servlet-name>
        <servlet-class>controller.Category.SortCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.Category.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controller.Category.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Information</servlet-name>
        <servlet-class>controller.Information.Information</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsList</servlet-name>
        <servlet-class>controller.News.NewsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNews</servlet-name>
        <servlet-class>controller.News.AddNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortNews</servlet-name>
        <servlet-class>controller.News.SortNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewsPriorityType</servlet-name>
        <servlet-class>controller.News.GetNewsPriorityType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNews</servlet-name>
        <servlet-class>controller.News.UpdateNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryByType</servlet-name>
        <servlet-class>controller.Category.GetCategoryByType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherList</servlet-name>
        <servlet-class>controller.Voucher.VoucherList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortVoucher</servlet-name>
        <servlet-class>controller.Voucher.SortVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVoucher</servlet-name>
        <servlet-class>controller.Voucher.AddVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVoucher</servlet-name>
        <servlet-class>controller.Voucher.UpdateVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInformationImage</servlet-name>
        <servlet-class>controller.Information.UpdateInformationImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewFeedbackServlet</servlet-name>
        <servlet-class>controller.Feedback.AddNewFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <servlet-class>controller.Feedback.EditFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <servlet-class>controller.Feedback.DeleteFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllFeedback</servlet-name>
        <servlet-class>controller.Feedback.getAllFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Banned</servlet-name>
        <servlet-class>controller.Users.Banned</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataStatistics</servlet-name>
        <servlet-class>controller.Users.DataStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InactiveUser</servlet-name>
        <servlet-class>controller.Users.InactiveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>controller.Order.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManage</servlet-name>
        <servlet-class>controller.Order.OrderManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortOrder</servlet-name>
        <servlet-class>controller.Order.SortOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImg</servlet-name>
        <servlet-class>controller.UpdateImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackList</servlet-name>
        <servlet-class>controller.Feedback.FeedbackList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentList</servlet-name>
        <servlet-class>controller.Comment.CommentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderList</servlet-name>
        <servlet-class>controller.Slider.SliderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductToOrder</servlet-name>
        <servlet-class>controller.Order.ProductToOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>controller.Order.CreateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistory</servlet-name>
        <servlet-class>controller.Order.OrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListClient</servlet-name>
        <servlet-class>controller.Client.Product.ProductListClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailClient</servlet-name>
        <servlet-class>controller.Client.Product.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.Client.Cart.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProductListClient</servlet-name>
        <servlet-class>controller.Client.Product.SortProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductList</servlet-name>
        <servlet-class>controller.Client.Product.FilterProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductList</servlet-name>
        <servlet-class>controller.Client.Product.SearchProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.Client.Cart.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>controller.Order.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryForCus</servlet-name>
        <servlet-class>controller.Order.OrderHistoryForCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailForCus</servlet-name>
        <servlet-class>controller.Order.OrderDetailForCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderForCus</servlet-name>
        <servlet-class>controller.Order.UpdateOrderForCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listVoucherClient</servlet-name>
        <servlet-class>controller.Client.Voucher.listVoucherClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSliderStatusServlet</servlet-name>
        <servlet-class>controller.Slider.UpdateSliderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSliderServlet</servlet-name>
        <servlet-class>controller.Slider.AddNewSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSliderServlet</servlet-name>
        <servlet-class>controller.Slider.ShowSliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSliderInfoServlet</servlet-name>
        <servlet-class>controller.Slider.UpdateSliderInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>controller.Users.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCodeForgotServlet</servlet-name>
        <servlet-class>controller.Users.CheckCodeForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutClient</servlet-name>
        <servlet-class>controller.Client.LogoutClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductFilterForFb</servlet-name>
        <servlet-class>controller.Feedback.ProductFilterForFb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFeedback</servlet-name>
        <servlet-class>controller.Feedback.SearchFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controller.Client.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectNameSalerServlet</servlet-name>
        <servlet-class>controller.Income.SelectNameSalerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalerDashboard</servlet-name>
        <servlet-class>controller.Users.SalerDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalerManagerDashboard</servlet-name>
        <servlet-class>controller.Users.SalerManagerDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderForCus</servlet-name>
        <servlet-class>controller.Order.SearchOrderForCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketerDashboard</servlet-name>
        <servlet-class>controller.MarketerDashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlDispatch</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProduct</servlet-name>
        <url-pattern>/getproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductByType</servlet-name>
        <url-pattern>/getproductbytype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProduct</servlet-name>
        <url-pattern>/sortproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryList</servlet-name>
        <servlet-class>controller.Category.CategoryList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryList</servlet-name>
        <url-pattern>/categorylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortUsers</servlet-name>
        <url-pattern>/sortusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetRole</servlet-name>
        <url-pattern>/setrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserByRole</servlet-name>
        <url-pattern>/getuserbyrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListUsers</servlet-name>
        <url-pattern>/showlistusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/createuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/viewprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageForSaler</servlet-name>
        <url-pattern>/usermanageforsaler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomer</servlet-name>
        <url-pattern>/createcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateListUser</servlet-name>
        <url-pattern>/updatelistuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCode</servlet-name>
        <url-pattern>/checkcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterServlet</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/searchclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortCategory</servlet-name>
        <url-pattern>/sortcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Information</servlet-name>
        <url-pattern>/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsList</servlet-name>
        <url-pattern>/newslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNews</servlet-name>
        <url-pattern>/addnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortNews</servlet-name>
        <url-pattern>/sortnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewsPriorityType</servlet-name>
        <url-pattern>/getnewsprioritytype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNews</servlet-name>
        <url-pattern>/updatenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryByType</servlet-name>
        <url-pattern>/getcategorybytype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherList</servlet-name>
        <url-pattern>/voucherlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortVoucher</servlet-name>
        <url-pattern>/sortvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVoucher</servlet-name>
        <url-pattern>/addvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVoucher</servlet-name>
        <url-pattern>/updatevoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInformationImage</servlet-name>
        <url-pattern>/updateinformationimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Banned</servlet-name>
        <url-pattern>/banned</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataStatistics</servlet-name>
        <url-pattern>/datastatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InactiveUser</servlet-name>
        <url-pattern>/inactiveuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManage</servlet-name>
        <url-pattern>/ordermanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortOrder</servlet-name>
        <url-pattern>/sortorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImg</servlet-name>
        <url-pattern>/updateimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsList</servlet-name>
        <url-pattern>/newslistclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsDetails</servlet-name>
        <url-pattern>/newsdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsComment</servlet-name>
        <url-pattern>/newscomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNews</servlet-name>
        <url-pattern>/searchnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackList</servlet-name>
        <url-pattern>/feedbacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentList</servlet-name>
        <url-pattern>/commentlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderList</servlet-name>
        <url-pattern>/sliderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductToOrder</servlet-name>
        <url-pattern>/producttoorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/createorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistory</servlet-name>
        <url-pattern>/orderhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListClient</servlet-name>
        <url-pattern>/client/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailClient</servlet-name>
        <url-pattern>/client/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/client/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProductListClient</servlet-name>
        <url-pattern>/client/sortproductlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductList</servlet-name>
        <url-pattern>/client/filterproductlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductList</servlet-name>
        <url-pattern>/client/searchproductlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/client/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryForCus</servlet-name>
        <url-pattern>/orderhistoryforcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailForCus</servlet-name>
        <url-pattern>/orderdetailforcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderForCus</servlet-name>
        <url-pattern>/updateorderforcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listVoucherClient</servlet-name>
        <url-pattern>/listvoucherclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSliderStatusServlet</servlet-name>
        <url-pattern>/updateSliderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSliderServlet</servlet-name>
        <url-pattern>/addslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSliderServlet</servlet-name>
        <url-pattern>/showslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSliderInfoServlet</servlet-name>
        <url-pattern>/updatesliderinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCodeForgotServlet</servlet-name>
        <url-pattern>/checkcodeforgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutClient</servlet-name>
        <url-pattern>/logoutclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductFilterForFb</servlet-name>
        <url-pattern>/productfilterforfb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFeedback</servlet-name>
        <url-pattern>/searchfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewFeedbackServlet</servlet-name>
        <url-pattern>/addfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <url-pattern>/editfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <url-pattern>/deletefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllFeedback</servlet-name>
        <url-pattern>/getallfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectNameSalerServlet</servlet-name>
        <url-pattern>/selectName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalerDashboard</servlet-name>
        <url-pattern>/salerdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalerManagerDashboard</servlet-name>
        <url-pattern>/salermanagerdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderForCus</servlet-name>
        <url-pattern>/searchordeforcus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketerDashboard</servlet-name>
        <url-pattern>/marketerdashboard</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            homepage
        </welcome-file>
    </welcome-file-list>
</web-app>
